{% extends 'frontend/master.html' %}
{% load markdown_deux_tags %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title is-1">{{ add_on.name }}</h1>
            <div class="columns">
                <div class="column is-2">
                    <figure class="image">
                        <img src="{{ add_on.logo.url }}" alt="{{ add_on.name }}">
                    </figure>
                </div>
                <div class="column is-1"></div>
                <div class="column content">
                    <p>
                        <strong>{{ add_on.short_description }}</strong>
                    </p>
                    {{ add_on.page.long_description|markdown }}
                </div>
            </div>

            <h2 class="title is-2">Versions</h2>
            {% if add_on.versions.all|length > 0 %}
                <table class="table">
                    <thead>
                        <tr>
                            <th>Version</th>
                            <th>Supports <span class="icon is-small"><i class="fa fa-wow"></i></span> </th>
                            <th>Date</th>
                            <th>Download</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for version in add_on.versions.all %}
                            <tr>
                                <td>
                                    {{ version.version }}{% if forloop.first %} <em>(latest)</em>{% endif %}
                                </td>
                                <td>
                                    {{ version.supports }}
                                </td>
                                <td>
                                    {{ version.added }}
                                </td>
                                <td>
                                    <a href="{{ version.file.url }}" target="_blank"><i class="fa fa-download"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <em>
                    No version released.
                </em>
            {% endif %}
            {% if add_on.creator.pk == request.user.user.pk %}
                <p>
                    <a href="#" class="button">Create version</a>
                </p>
            {% endif %}
        </div>
    </section>
{% endblock %}