{% extends 'frontend/master.html' %}

{% block body %}
    <section class="section">
        <div class="container">
            {% for add_on in add_ons %}
                {% if add_on.latest_version %}
                    <div class="box add-on">
                        <div class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <a href="{% url 'addon_details' slug=add_on.name|slugify pk=add_on.id %}">
                                        <img src="{{ add_on.logo.url }}" alt="{{ add_on.name }}">
                                    </a>
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <a href="{% url 'addon_details' slug=add_on.name|slugify pk=add_on.id %}"><strong>{{ add_on.name }}</strong></a><br>
                                    <p>{{ add_on.short_description }}</p>
                                    <nav class="level is-mobile">
                                        <div class="level-left">
                                            <div class="level-item">
                                                {% if add_on in user.user.favourites.all %}
                                                    <a href="#" title="Add to library" data-id="{{ add_on.id }}"
                                                       class="remove-from-favourites">
                                                        <span class="icon is-small">
                                                            <i class="fa fa-star"></i>
                                                        </span>
                                                    </a>
                                                {% else %}
                                                    <a href="#" title="Add to library" data-id="{{ add_on.id }}"
                                                       class="add-to-favourites">
                                                        <span class="icon is-small">
                                                            <i class="fa fa-star-o"></i>
                                                        </span>
                                                    </a>
                                                {% endif %}
                                            </div>
                                            <div class="level-item">
                                                <a href="{{ add_on.latest_version.file }}" target="_blank">
                                                    <span class="icon is-small">
                                                        <i class="fa fa-download"></i>
                                                    </span> {{ add_on.latest_version.version }}
                                                </a>
                                            </div>
                                        </div>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% empty %}
                <em>No add-ons found</em>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block javascript %}
    {% include 'frontend/snippets/manage_favourite.html' %}
{% endblock %}