{% extends 'frontend/master.html' %}

{% block body %}
    <section class="section">
        <div class="container">
            {% for add_on in add_ons %}
                {% with add_on.versions.first as latest_version %}
                    {% if latest_version %}
                        <div class="box">
                            <div class="media">
                                <figure class="media-left">
                                    <p class="image is-64x64">
                                        <a href="{% url 'details' slug=add_on.name|slugify add_on_id=add_on.id %}">
                                            <img src="{{ add_on.logo.url }}" alt="{{ add_on.name }}">
                                        </a>
                                    </p>
                                </figure>
                                <div class="media-content">
                                    <div class="content">
                                        <a href="{% url 'details' slug=add_on.name|slugify add_on_id=add_on.id %}"><strong>{{ add_on.name }}</strong></a><br>
                                        <p>{{ add_on.short_description }}</p>
                                        <nav class="level is-mobile">
                                            <div class="level-left">
                                                <div class="level-item">
                                                    <a href="#" title="Add to library">
                                                        <span class="icon is-small">
                                                            <i class="fa fa-star-o"></i>
                                                        </span>
                                                    </a>
                                                </div>
                                                <div class="level-item">
                                                    <a href="{{ latest_version.file }}">
                                                        <span class="icon is-small">
                                                            <i class="fa fa-download"></i>
                                                        </span> {{ latest_version.version }}
                                                    </a>
                                                </div>
                                            </div>
                                        </nav>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    </section>
{% endblock %}