{% extends 'frontend/master.html' %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">Favourites</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Supports</th>
                        <th>Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for favourite in request.user.user.favourites.all %}
                        <tr>
                            <td>
                                {{ favourite.name }}
                            </td>
                            <td>
                                {% if favourite.latest_version %}
                                    {{ favourite.latest_version.version }}
                                {% else %}
                                    <em>No version</em>
                                {% endif %}
                            </td>
                            <td>
                                {% if favourite.latest_version %}
                                    {{ favourite.latest_version.supports }}
                                {% else %}
                                    <em>No version</em>
                                {% endif %}
                            </td>
                            <td>
                                {% if favourite.latest_version %}
                                    <a href="{{ favourite.latest_version.file.url }}" target="_blank"><i class="fa fa-download"></i></a>
                                {% else %}
                                    <em>No version</em>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}